#settings {
  justify-content: space-between;
  position: sticky;
  top: 1em;
  margin-bottom: 1em;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}