#settings {
  justify-content: space-between;
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  height: 3em;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}
